
/* NAV BAR CSS */
#nav-link{
    display: flex;
   list-style: none;
   width: 100%;
   height: 100%;
   color: black;
   font-weight: bold;
   font-family: 'Lobster', cursive;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   margin: auto;
}
#nav-link:hover{
   background-color: rgb(97, 66, 66);
}
#nav-link a:hover{
   background-color: rgb(29, 26, 26);}
#logo{
    color:grey;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    float: left;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    top:0;

}
#nav{
    float: right;
}
#nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
#nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
    color:black;
    text-decoration: none;
    display:block;
    font-size: 24px;
    /* margin-right: 0px; */
}
#nav ul li a:hover,
#nav ul li a.active{
    color: rgb(124, 86, 99);
    background: grey;
}


.menu-toggle{
    color:rgb(44, 38, 38);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}

@media screen and  (max-width: 900px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
        cursor: pointer;
        
    }
    nav ul{
    
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: grey;
        top: 50px;
        left: 0;
        transition: 0.5s;
        flex-direction: column;
        text-decoration: none;
        transform: translateX(100%);

    }

    nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,2);
    }
    
}
/* End of nav css please edit this! */

/* general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        font-size: 15px;
        font-family: 'Source Code Pro', monospace;
        color: black;
    }
    
    h2{
        /* font-family: 'Lobster', cursive; */
        font-size: 50px;
    };
    
    body{
       width: 100%;
       height: 100%;
       padding: 0;
       margin: 0;
       font-family: 'Source Code Pro', monospace;
    }

    li{
        margin: 0 2rem;
    }
    ul{
        list-style: none;
        text-decoration: none;
    }
    h4{
       color: rgb(187, 165, 165);
       font-size: 30px;
       font-weight: bold;
    }
    #social-media{
        text-align: center;
        
    }
    p{
        color: rgb(122, 108, 108);
    }
    /*End of general styling */
    #header{
        background-image: url(picture1.jpg);
        background-size: cover;
        color: rgb(44, 38, 38);
        background-position: center;
    }
    #Home{
        background-image: url();
        background-size: cover;
        color: black;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Lobster', cursive;
        font-size: 40px;
    }
/* End of header and home styling */  

/* About section */
#profile-pic img{
    height: 300px;
    width: 555px;
    padding: -20px;
}
#About{
    background-color: rgb(44, 38, 38);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    display: flex;
    
}
#per{
display: flex;
 width: 1000px;
 margin: 0;
 padding: 0;

 

}
#aboutme{
 flex: 1; 
background-color: rgba(16, 16, 29, 0.452);
padding: 20px;
font-weight: bold;
}
#Education{
    flex: 1;
    background-color: rgba(16, 16, 29, 0.452);
    padding: 20px;
    font-weight: bold;
}
/* End of about section */

/* Skill section */
#Skills{
    background-color: rgb(44, 38, 38);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    display: flex;
    line-height: 80px;
}
/* End of about section */

/* Portfolio section */
#Portfolio{
    background-color:  rgb(44, 38, 38);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    display: flex;
    
}
#More{
    padding: 30px;
    text-align: center;
    display: flex;
     justify-content: space-between;
    margin: 0px;
    color: rgb(202, 185, 185);
    
}

#box{
margin: 30px;
flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#More a{
    color: rgb(202, 185, 185);
    text-decoration: none;
    margin-top: 20px;  
}
#More a:hover{
        color: white;}

/* End of portfolio section */

/* Contact section */
#Contact{
    background-color: rgb(44, 38, 38);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    display: flex;
    line-height: 100px;
}
#social-media{
    text-align: center;
    
}
#nav-social li{
    align-items: center;
    display: inline;
    list-style-type: none;
    float: left;
    margin: 30 5px;

}
 

/* End of Ccontact section */

#footer{
    background-color: rgb(60, 60, 133);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    font-weight: bold;
    color: rgb(36, 29, 29);

}